<% layout('layouts/boilerplate') %>
<% for (let post of posts) {%>
<div class="cardIndex card my-4">
    <div class="card-header">
        <a href="/<%= post.author._id %>" class="ownerName">
            <%=post.author.username%>
        </a>
    </div>
    <div class="card-body pb-1">
        <a href="/posts/<%=post._id%>" class="postTitle">
            <%=post.title%>
        </a>
        <a href="/posts/<%=post._id%>" class="postDescription">
            <p>
                <%= post.description %>
            </p>
        </a>
        <p class="mb-0">
            <a href="" class="postHashtag">
                <%= post.hashtag %>
            </a>
        </p>
    </div>
    <% if (post.images.length>= 1){ %>
    <img src="<%=post.images[0].url%>" class="image-post-index mx-3 my-0" alt="...">
    <% } %>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
<% } %>