<!DOCTYPE html>
<html lang="en">

<% layout('layouts/boilerplate') %>
<div class="cardShow card mt-0">
    <div id="cardShowHeader" class="card-header">
        <a class="ownerName" href="/<%= post.author._id %>">
            <%= post.author.name %>
        </a>
    </div>
    <div class="card-body pb-1">

        <% if(currentUser && post.author.equals(currentUser._id)) {%>
        <div class="btn-group dropend">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropend
            </button>
            <ul class="dropdown-menu">

                <li>
                    <div id="buttonShow">
                        <a href="/posts/<%= post._id %>/edit"><button type="button"
                                class="btn btn-sm btn-info">Edit</button></a>
                        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </li>

            </ul>
        </div>
        <% } %>
        <h4 class="postTitle">
            <%= post.title %>
        </h4>
        <p>
            <%= post.description %>
        </p>
        <p class="mb-0">
            <a href="" class="postHashtag">
                <%= post.hashtag %>
            </a>
        </p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide my-0" data-bs-ride="true">
        <div class="carousel-indicators">
            <% for (let i=0 ; i<post.images.length ; i++){%>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>"
                <%=i==0 ? "class=active aria-current=true" : '' %> aria-label="Slide <%= i+1 %>"></button>
            <% }%>
        </div>
        <div class="carousel-inner">
            <% for (let i=0 ; i<post.images.length ; i++){%>
            <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                <img src="<%= post.images[i].url %>" class="d-block w-100 image-post-show" alt="...">
            </div>
            <% }%>
        </div>
        <% if (post.images.length> 1) {%>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <% } %>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>

</div>
<% if(currentUser) {%>
<div class="cardShow my-3">
    <form action="/posts/<%= post._id %>/comments" method="POST" class="needs-validation" novalidate>
        <label class="form-label" for="commentAdd"> Add Comment</label>
        <textarea class="form-control" name="comment[text]" id="commentAdd" cols="50" rows="2" required></textarea>
        <div class="invalid-feedback">
            Add something to comment!
        </div>
        <button class="btn btn-sm btn-success mt-3">Comment</button>
    </form>
</div>
<% } %>
<h4 class="cardShow my-4">Comments</h4>
<% for (let comment of post.comments) {%>
<div id="commentsShow">
    <div class="cardShow card mb-2">
        <div class="card-header">
            <a class="ownerName" href="">
                <%= comment.author.user %>
            </a>
            <% if(currentUser && comment.author.equals(currentUser._id)) {%>
            <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
        </div>
        <div class="card-body">
            <p class="card-text">
                <%= comment.text %>
            </p>
        </div>
    </div>
</div>
<% } %>
</div>